a {
    text-decoration: none;
}

.navigation {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #a7ddff;
    padding: 20px;
    text-align: left;
}

footer {
    background-color: #57bfff;
    padding-bottom: 10px;
    text-align: left;
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.subheader {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.prod_img {
    border-radius: 10px;
}

.form_input {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.form_button {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

body{
    font-family: sans-serif;
}